
.DS_Store
node_modules/
code/EmpowerUAfrica/MySQLCredentials.json
code/EmpowerUAfrica/package-lock.json
code/EmpowerUAfrica/db/credentials.json
code/EmpowerUAfrica/client/package-lock.json
code/EmpowerUAfrica/.vscode/settings.json
code/EmpowerUAfrica/package-lock.json
code/EmpowerUAfrica/client/public/profilepics/users
code/EmpowerUAfrica/client/public/learning/