.courseOverview {
    float: left;
    border: 1px solid #eee;
    border-radius: 10px;
    background: -webkit-linear-gradient(135deg, #a6db43 0%,#e2cf21 50%);
    min-width: 40%;
    padding: 10px 20px;
    margin-left: 5%;
    margin-bottom: 20px;
    position: relative;
}

.courseOverview:hover .mask{
    animation-name: courseOverview;
    animation-duration: 1s;
    z-index: 0;
}

.courseOverview:hover{
    box-shadow: 0 0 2px 2px black;
    cursor: pointer;
}

.courseOverview a {
    color: black !important;
    text-decoration: none;
}

.courseOverview div:nth-child(1) {
    border-bottom: 1px solid black;
}

.courseOverview div:nth-child(1) h3 {
    display: inline-block;
}

.courseOverview div:nth-child(1) button {
    float: right;
    margin-top: 15px;
    color: #eee;
    font-weight: bold;
    padding: .6em 1.2em;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: background-color 200ms ease-out;
    border-style:unset;
    margin-left: 1em;
}

.courseOverview div:nth-child(1) button:hover {
    background-color: black;
}

.enrol-btn {
    background-color: rgb(32, 74, 94);
}
.drop-btn {
    background-color: rgb(224, 74, 5);
}

.mask {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #fff;
}

@keyframes courseOverview {
    from {
        width: 0;
        opacity: 1;
    }
    to {
        width: 100%;
        opacity: 0;
    }
}
