.sumbit_assignment_page {
    background: url('../../../resource/images/blackBoard.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
    border-top: 1px solid transparent;
    margin-top: 0;
}

.sumbit_assignment_form {
    margin: 150px auto;
    margin-top: 6.5%;
    width: 60%;
    background: rgba(255, 255, 255, 0.9);
    padding: 50px 100px;
    box-shadow: 1px 1px 5px 2px gray;
}

.submissions-table {
    margin-bottom: 1em;
}
.submissions-table, .submissions-table td, .submissions-table th {
    border: 1px solid black; 
    border-collapse: collapse;
}
.submissions-table td, .submissions-table th {
    padding: 1em .7em;
}

.sumbit_assignment_form table {
    width: 100%;
}

.submit_file {
    margin-bottom: 50px;
}

.submit_file h3 {
    display: inline-block;
}

#submit_file {
    display: inline-block;
}

.sumbit_assignment_form button {
    position: relative;
    cursor: pointer;
    width: 20%;
}

.sumbit_assignment_btn {
    border-radius: 5px;
    float: right;
}

.discard_assignment_btn {
    border-radius: 5px;
}

.sumbit_assignment_form button:hover .sumbit_assignment_btn_mask {
    animation-name: submitAssignment;
    animation-duration: 500ms;
}

.sumbit_assignment_btn_mask {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: white;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}


@keyframes submitAssignment {
    from {
        width: 0;
        opacity: 1;
    }
    to {
        width: 100%;
        opacity: 0;
    }
}